<!-- Validation failure messages -->
<% if @allocation.errors.any? %>
  <% @allocation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Allocation #<%= @allocation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_allocation/<%= @allocation.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for client_id -->
      <div class="form-group">
        <label for="client_id" class="control-label">
          Client
        </label>

        <%= select_tag(:client_id, options_from_collection_for_select(Client.all, :id, :clientname, @allocation.client_id), :class => "form-control") %>
      </div>

      <!-- Label and input for fund_id -->
      <div class="form-group">
        <label for="fund_id" class="control-label">
          Fund
        </label>

        <%= select_tag(:fund_id, options_from_collection_for_select(Fund.all, :id, :name, @allocation.fund_id), :class => "form-control") %>
      </div>

      <!-- Label and input for percentage -->
      <div class="form-group">
        <label for="percentage" class="control-label">
          Percentage
        </label>

        <input type="text" id="percentage" name="percentage" placeholder="Percentage" class="form-control" value="<%= @allocation.percentage %>">
      </div>

      <button class="btn btn-warning">
        Update Allocation
      </button>
      or
      <a href="/allocations/<%= @allocation.id %>">Cancel</a>
    </form>
  </div>
</div>
