<!-- Validation failure messages -->
<% if @historicalperformance.errors.any? %>
  <% @historicalperformance.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Historicalperformance</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_historicalperformance" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for fund_id -->
      <div class="form-group">
        <label for="fund_id" class="control-label">
          Fund
        </label>

        <%= select_tag(:fund_id, options_from_collection_for_select(Fund.all, :id, :name, @historicalperformance.fund_id), :class => "form-control") %>
      </div>

      <!-- Label and input for month -->
      <div class="form-group">
        <label for="month" class="control-label">
          Month
        </label>

        <input type="text" id="month" name="month" placeholder="Month" class="form-control" value="<%= @historicalperformance.month %>">
      </div>

      <!-- Label and input for performance -->
      <div class="form-group">
        <label for="performance" class="control-label">
          Performance
        </label>

        <input type="text" id="performance" name="performance" placeholder="Performance" class="form-control" value="<%= @historicalperformance.performance %>">
      </div>

      <button class="btn btn-success">
        Create Historicalperformance
      </button>
      or
      <a href="/historicalperformances">Cancel</a>
    </form>
  </div>
</div>
