<div class="page-header">
  <h1>
    Hello <%=current_user.firstname %> <a href="/clients/new" class="btn btn-md btn-success">Add Client</a>
  </h1>
</div>

<%= bar_chart @clients.group(:risktolerance).count %>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"> <h4><b><i>Current Clients</i></b></h4></div>
  <div class="panel-body">
    <!-- <p>...</p> -->
  <!-- </div> -->
<!-- <div class="row">
  <div class="col-md-12"> -->
    <table class="table table-striped table-hover">
      <tr>
        <th>Client</th>
        <th>Account Size</th>
        <th>Management Fee</th>
        <th>Risk Tolerance</th>
        <th>Actions</th>
      </tr>

      <% @clients.each do |client| %>
      <tr>
        <td><%= client.clientname %></td>
        <td>$<%= client.accountsize %></td>
        <td><%= client.mgmt_fee %>%</td>
        <td><%= client.risktolerance %></td>
        <!-- <td>
          <% if client.user.present? %>
            <a href="/users/<%= client.user.id %>">
              <%= client.user.email %>
            </a>
          <% end %>
        </td> -->
        <td>
          <a href="/clients/<%= client.id %>" class="btn btn-primary"> View </a>

          <% if current_user == client.user %>
            <a href="/clients/<%= client.id %>/edit" class="btn btn-warning"> Edit </a>
            <a href="/delete_client/<%= client.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
    <%= paginate @clients, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
