<div class="page-header">
  <h3>Client #<%= @client.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Clientname</dt>
      <dd><%= @client.clientname %></dd>

      <dt>Accountsize</dt>
      <dd><%= @client.accountsize %></dd>

      <dt>Mgmt fee</dt>
      <dd><%= @client.mgmt_fee %></dd>

      <dt>Risktolerance</dt>
      <dd><%= @client.risktolerance %></dd>

      <dt>User</dt>
      <dd><%= @client.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/clients" class="btn btn-primary">
        Back
      </a>
      <a href="/clients/<%= @client.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_client/<%= @client.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Client has many allocations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Allocations
      </li>

      <% @client.allocations.each do |allocation| %>
        <li class="list-group-item">
          <a href="/allocations/<%= allocation.id %>">
            <%= allocation.client_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/allocations/<%= allocation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/allocations/<%= allocation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_allocation/<%= allocation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Client has many funds -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Funds
      </li>

      <% @client.funds.each do |fund| %>
        <li class="list-group-item">
          <a href="/funds/<%= fund.id %>">
            <%= fund.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/funds/<%= fund.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/funds/<%= fund.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_fund/<%= fund.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
