<div class="page-header">
  <h3>Client #<%= @client.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Clientname</dt>
      <dd><%= @client.clientname %></dd>

      <dt>Accountsize</dt>
      <dd>$<%= @client.accountsize %></dd>

      <dt>Mgmt fee</dt>
      <dd><%= @client.mgmt_fee %>%</dd>

      <dt>Risktolerance</dt>
      <dd><%= @client.risktolerance %></dd>

    </dl>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-6">
      <h5> <b>Fund Allocation</b> </h5>
      <%= pie_chart @client.allocations.group(:fund_id).sum(:percentage) %>
      <!-- labels in pie chart are incorrect, would like to show fund name rather than fund id -->
    </div>

  

    <div class="col-xs-6">
      <h5> <b>Historical Portfolio Performance</b></h5>
      <%= line_chart Historicalperformance.group(:fund_id).group(:month).sum(:performance), ytitle: "Percent Growth", curve: false %>
      <!-- line chart is incorrect. should be showing composite portfolio and proxy over time -->
    </div>
  </div>
</div>

<div class="btn-group btn-group-justified">
  <a href="/clients" class="btn btn-primary">
    Back
  </a>
  <% if current_user == @client.user %>
    <a href="/clients/<%= @client.id %>/edit" class="btn btn-warning">
      Edit
    </a>
    <a href="/delete_client/<%= @client.id %>" class="btn btn-danger" rel="nofollow">
      Delete
    </a>
  <% end %>
</div>
