<div class="page-header">
  <h1>
    Funds
    <a href="/funds/new" class="btn btn-lg btn-success">New Fund</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "funds_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

<div class="form-group">
  <%= f.label :proxyflag, "Proxyflag" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :proxyflag_gteq, :class => "form-control", :placeholder => "Proxyflag greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :proxyflag_lteq, :class => "form-control", :placeholder => "Proxyflag less than or equal to" %>
    </div>
  </div>
</div>

<div class="form-group">
    <%= f.label :risktolerance_cont, "Risktolerance contains" %>
    <%= f.text_field :risktolerance_cont, :class => "form-control", :placeholder => "Risktolerance contains" %>
  </div>

<div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :clients_clientname_cont, "Client clientname contains" %>
      <%= f.text_field :clients_clientname_cont, :class => "form-control", :placeholder => "Client clientname contains" %>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/funds" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#funds_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Risktolerance</th>
        <th>Proxyflag</th>
        <th>Actions</th>
      </tr>

      <% @funds.each do |fund| %>
      <tr>
        <td><%= fund.name %></td>
        <td><%= fund.risktolerance %></td>
        <td><%= fund.proxyflag %></td>
        <td>
          <a href="/funds/<%= fund.id %>" class="btn btn-primary">Show</a>
          <a href="/funds/<%= fund.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_fund/<%= fund.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @funds, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
