<div class="page-header">
  <h1>
    Hello <%=current_user.firstname %> <a href="/clients" class="btn btn-md btn-default">Return to Client List</a>
  </h1>
</div>
<div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :id => "funds_filters" do |f| %>

    <div class="form-group">
      <%= f.label :risktolerance_cont, "Filter by Risk Tolerance" %>
      <%= f.text_field :risktolerance_cont, :class => "form-control", :placeholder => "Risk tolerance contains" %>

    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-6">
      <%= f.submit :class => "btn btn-primary btn-success btn-group-justified" %>
    </div>
    <div class="col-md-6">
      <a href="/funds" class="btn btn-warning btn-group-justified">Clear Filter</a>
    </div>
  </div>
  <% end %>

</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"> <h4><b><i>List of Funds</i></b></h4></div>
  <div class="panel-body">
    <table class="table table-striped table-hover">
      <tr>
        <th>Fund Name</th>
        <th>Risk Tolerance Category</th>
        <!-- <th>Proxyflag</th> -->
        <th>5-year CAGR</th>
        <th>Standard Deviation</th>
        <th>5-year Max Drawdown</th>
        <th></th>
      </tr>

      <% @funds.each do |fund| %>
      <tr>
        <td><%= fund.name %></td>
        <td><%= fund.risktolerance %></td>
        <% @performance = fund.historicalperformances.pluck(:performance) %>
        <% @array = Array.new(60,1)%>
        <% @perfplus1 = @performance.zip(@array).map{|a| a.inject(:+)} %>
        <!-- <#% def sum
        self.inject(0){|accum, i| accum + i }
        end %>

        <#%  def mean
        self.sum/self.length.to_f
        end %>

        <#% def sample_variance
        m = self.mean
        sum = self.inject(0){|accum, i| accum +(i-m)**2 }
        sum/(self.length - 1).to_f
        end %>

        <#% def standard_deviation
        return Math.sqrt(self.sample_variance)
        end %> -->

        <% @fivegrowth = @perfplus1.inject(1){|product, n| product * n} %>
        <% @cagr = @fivegrowth %>
        <td><%= @cagr %></td>
        <!-- <td><#%= @perfplus1.standard_deviation %>Add calculation of SD</td> -->
        <td>Add calculation of SD</td>
        <td>Add calculation of drawdown</td>
        <td>
          <a href="/funds/<%= fund.id %>" class="btn btn-primary">View Historical Performance</a>
          <!-- <a href="/funds/<%= fund.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_fund/<%= fund.id %>" class="btn btn-danger" rel="nofollow">Delete</a> -->
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<%= paginate @funds, theme: 'twitter-bootstrap-4' %>
</div>
</div>
