<div class="page-header">
  <h3>Fund #<%= @fund.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @fund.name %></dd>

      <dt>Risktolerance</dt>
      <dd><%= @fund.risktolerance %></dd>

      <dt>Proxyflag</dt>
      <dd><%= @fund.proxyflag %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/funds" class="btn btn-primary">
        Back
      </a>
      <a href="/funds/<%= @fund.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_fund/<%= @fund.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Fund has many allocations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Allocations
      </li>

      <% @fund.allocations.each do |allocation| %>
        <li class="list-group-item">
          <a href="/allocations/<%= allocation.id %>">
            <%= allocation.client_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/allocations/<%= allocation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/allocations/<%= allocation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_allocation/<%= allocation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_allocation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for client_id -->
      <div class="form-group">
        <label for="client_id" class="control-label">
          Client
        </label>

        <%= select_tag(:client_id, options_from_collection_for_select(Client.all, :id, :clientname), :class => "form-control") %>
      </div>

      <!-- Label and input for fund_id -->
      <input type="hidden" name="fund_id" value="<%= @fund.id %>">

      <!-- Label and input for percentage -->
      <div class="form-group">
        <label for="percentage" class="control-label">
          Percentage
        </label>

        <input type="text" id="percentage" name="percentage" placeholder="Percentage" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Allocation
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Fund has many historicalperformances -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Historicalperformances
      </li>

      <% @fund.historicalperformances.each do |historicalperformance| %>
        <li class="list-group-item">
          <a href="/historicalperformances/<%= historicalperformance.id %>">
            <%= historicalperformance.fund_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/historicalperformances/<%= historicalperformance.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/historicalperformances/<%= historicalperformance.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_historicalperformance/<%= historicalperformance.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_historicalperformance" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for fund_id -->
      <input type="hidden" name="fund_id" value="<%= @fund.id %>">

      <!-- Label and input for month -->
      <div class="form-group">
        <label for="month" class="control-label">
          Month
        </label>

        <input type="text" id="month" name="month" placeholder="Month" class="form-control" value="">
      </div>

      <!-- Label and input for performance -->
      <div class="form-group">
        <label for="performance" class="control-label">
          Performance
        </label>

        <input type="text" id="performance" name="performance" placeholder="Performance" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Historicalperformance
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Fund has many clients -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Clients
      </li>

      <% @fund.clients.each do |client| %>
        <li class="list-group-item">
          <a href="/clients/<%= client.id %>">
            <%= client.clientname %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/clients/<%= client.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/clients/<%= client.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_client/<%= client.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
